
.cabecalho {
    display: flex;
    align-items: center;
    
    flex-direction: row;
    justify-content: space-around;

    margin-top: 3rem;
}


.especial {
    font-size: 2rem;
    font-style: italic;
    color: var(--cor-secundaria);
    margin-right: 0.5rem;
}

.cabecalho__titulo {
    color: var(--cor-principal);
    font-size: 1.5rem;
    align-items: center;
    text-align: justify;
    justify-content: center;
}

.cabecalho__texto {
    color: var(--cor-terceira);
}

#telefone {
    color: gray;
    font-weight: 300;
    font-style: regular;
}