
* {
    margin: 0;
    padding: 0;
}

:root{
    --cor-principal: #ffffff;
    --cor-secundaria: #70ee9c;
    --cor-terceira: #5f5f69;
    --cor-de-fundo: #1e1e22;
    --fonte-principal: 'Rubik', sans-serif;
}

body {
    background:var(--cor-de-fundo);
    font-family: var(--fonte-principal);
}

.cabecalho {
    display: flex;
    align-items: center;
    
    flex-direction: row;
    justify-content: space-around;

    margin-top: 3rem;
}


.especial {
    font-size: 2rem;
    font-style: italic;
    color: var(--cor-secundaria);
    margin-right: 0.5rem;
}

.cabecalho__titulo {
    color: var(--cor-principal);
    font-size: 1.5rem;
    align-items: center;
    text-align: justify;
    justify-content: center;
}

.cabecalho__texto {
    color: var(--cor-terceira);
}

#telefone {
    color: gray;
    font-weight: 300;
    font-style: regular;
}